@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body, * {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
  color: #222;
}
.menu_scroll_hidden {
  height: 100%;
  overflow-y: hidden;
}
.scroll_hidden {
  height:100%; 
  min-height:100%; 
  overflow:hidden !important; 
  touch-action:none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll_hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}